In [2]:
import numpy as np
import pandas as pd

In [9]:
q_table = pd.DataFrame(columns=['up', 'down', 'left', 'right'], dtype=np.float64)

In [10]:
q_table

Empty DataFrame
Columns: [up, down, left, right]
Index: []

In [11]:
actions = ['up', 'down', 'left', 'right']

In [13]:
to_be_append = pd.Series([0] * len(actions), index=q_table.columns, name='state1')
to_be_append

up       0
down     0
left     0
right    0
Name: state1, dtype: int64

In [14]:
q_table = q_table.append(to_be_append)
q_table

         up  down  left  right
state1  0.0   0.0   0.0    0.0

In [31]:
to_be_append = pd.Series([0.1, 0.5, 0.5, 0.2], index=q_table.columns, name='state4')
q_table = q_table.append(to_be_append)

In [32]:
q_table

         up  down  left  right
state1  0.0   0.0   0.0    0.0
state1  0.1   0.2   0.3    0.2
state2  0.1   0.2   0.3    0.2
state2  0.1   0.2   0.3    0.2
state3  0.1   0.5   0.3    0.2
state4  0.1   0.5   0.5    0.2

In [34]:
state_action = q_table.loc['state4',:]
state_action
print(state_action)
print(np.max(state_action))

up       0.1
down     0.5
left     0.5
right    0.2
Name: state4, dtype: float64
0.5

In [35]:
state_action[state_action == np.max(state_action)].index

Index(['down', 'left'], dtype='object')

In [44]:
action = np.random.choice(state_action[state_action == np.max(state_action)].index)

In [45]:
action

'down'